extends layout

block content
    ul
    each movie in movies
        div.movieWrapper
            div.movie
                img#movieImg(src=movie.ImageUrl)
                div.movieDetails
                    p #{movie.Name}
                    p #{movie.Description}
                    p #{movie.Rating}