body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: black;
}

img#movieImg {
  float:left;
  width: 200px;
  height: 297px;
}

div.movie {
  display:flex;
}

div.movieWrapper {
  text-align: start;
  padding-left: 100px;
  width: 600px;
  height : 350px;
  display:inline-block;
}

div.movieDetails {
  padding-top: 2px;
  padding-left: 10px;
  float:right;
}

ul {
  text-align: center;
  padding-left: 100px;
  padding-right:100px;
}